/* Login Page */
.login-body,
.password-reset-body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Ensures it occupies full height */
    margin: 0;
    /* Prevents overflow */
}

.login-container {
    width: 100%;
    max-width: 400px;
    /* Limits width for better fit */
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow */
}

/* Password Reset */
.password-reset-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.password-reset-container h2 {
    text-align: center;
}

.fix-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fix-dropdown:hover {
    background-color: #111214;
}

.profile-header {
    background: linear-gradient(135deg, #6f42c1, #6610f2);
    color: white;
    padding: 3rem;
    text-align: center;
}

.profile-header img {
    border: 8px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.section-title {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #6f42c1;
}

.section-content {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.progress-bar {
    background-color: #6f42c1;
}

.skill-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.contact-info i {
    color: #6f42c1;
    margin-right: 8px;
}



@media print {

    .resume-header {
        background-color: #343a40;
    }

    .no-print {
        display: none;
    }
}