<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5 class="text-warning">About Us</h5>
                <p>Your trusted job portal connecting job seekers with employers. We simplify the job search process and
                    help you find your dream job.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="text-warning">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Jobs</a></li>
                    <li><a href="#" class="text-light">Employers</a></li>
                    <li><a href="#" class="text-light">Job Seekers</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5 class="text-warning">Contact Us</h5>
                <p><i class="fas fa-envelope"></i> <a href="mailto:info@jobportal.com"
                        class="text-light">info@jobportal.com</a></p>
                <p><i class="fas fa-phone"></i> <span class="text-light">+1 (123) 456-7890</span></p>
                <h5 class="text-warning">Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="text-light mr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <hr class="border-light">
            <p class="mb-0">© 2024 Job Portal. All rights reserved.</p>
        </div>
    </div>
</footer>